{% extends "commentFeed.html.twig" %}

{% block content %}
<div class="panel-body">
    {% for data in comments %}
        <div class="media">
            <a class="media-left" href="#fake">
                <img id="userpicpost" alt="" class="media-object img-rounded" src="{{ data.getUser().getPicture() }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading" id="Username">{{ data.getUser().getUsername() }}</h4>
                <p id="Text">{{ data.getComment }}</p>
                <ul id="buttons" class="nav nav-pills nav-pills-custom">
                    {% if(userid == data.getuser().getId()) %}
                        <label for="delete" class="sr-only">delete</label>
                        <li><a id="delete" href="./index.php?controller=CommentController&action=deleteAction&idc={{ data.getId() }}&c=true&id={{ data.getTweet().getId() }}"><i class="far fa-trash-alt"></i></button> </a></li>
                        <label for="edit" class="sr-only">edit</label>
                        <li><a id="edit" href="./index.php?controller=CommentController&action=updateAction&idc={{ data.getId() }}&c=true&id={{ data.getTweet().getId() }}"><i class="far fa-edit"></i></button> </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}