<div class="media">
    <a class="media-left" href="#fake">
        <img id="userpictext" alt="" class="media-object img-rounded" src="{{ tweet.User.Picture }}">
    </a>
    <div id="commenttweet" class="media-body">
        {{ tweet.Text }}
        {% if(data.destination is not same as(null)) %}
            <div class="imagecontainer">
                <img src="{{ data.destination }}">
            </div>
        {% endif %}
        {% if(tweet.LinkId is not same as(null)) %}
            <iframe id="yt" width="400" height="200" src="https://www.youtube.com/embed/{{ tweet.LinkID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
        {% if(data.Retweet is not same as(null)) %}
            <div class="media-body">
                <h4 class="media-heading" id="Username">{{ data.ReTweet.User.Username }}</h4>
                <p id="Text">{{ data.ReTweet.Text }}</p>
            </div>
        {% endif %}
    </div>
</div>