<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{ include('service/head.html.twig') }}
    <title>{% block title %}Twitter{% endblock %}</title>
</head>
<body>
{{ include('template/header.html.twig') }}
<div class="container-fluid">
    <div class="container">
        {{ include('service/alerts.html.twig') }}
        <div class="row">
            <div class="col-sm-3">
                <!--User-->
                {{ include('template/profile.html.twig') }}
                <!--trends-->
                {{ include('template/trends.html.twig') }}
            </div>
            <!-- Tweets-->
            <div class="col-sm-6">
                {% block tweet %}{% endblock %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="media">
                            <!--Inputs-->
                            <a class="media-left" href="#fake">
                                <img id="userpictext" alt="" class="media-object img-rounded" src="{{ user.picture }}">
                            </a>
                            {% block input %}{% endblock %}
                        </div>
                    </div>
                    <div class="panel-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {{ include('template/footPanel.html.twig') }}
            </div>
            {{ include('template/rightPanel.html.twig') }}
        </div>
    </div>
    {{ include('service/scripts.html.twig') }}
</div>
</body>
</html>